
{{ form_start(form) }}

<div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-info">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active " href="#informations-générales" data-toggle="tab">Informations générales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contenu" data-toggle="tab">Contenu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="informations-générales">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_widget(form.mainFolder) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_widget(form.subFolder) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.VersionActuelle) }}
                            {{ form_widget(form.VersionActuelle) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                                {% for check in form.statut %}
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                    {{ form_widget(check) }}
                                    {{ form_label(check) }}
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                                {% endfor %}


                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.Nom_Rapport) }}
                            {{ form_widget(form.Nom_Rapport) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.Categorie) }}
                            {{ form_widget(form.Categorie) }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="contenu">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col-12">
                            {{ form_label(form.Commentaire) }}
                            {{ form_widget(form.Commentaire) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form_label(form.Objectifs) }}
                            {{ form_widget(form.Objectifs) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form_label(form.Details) }}
                            {{ form_widget(form.Details) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form_label(form.Sources) }}
                            {{ form_widget(form.Sources) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form_label(form.Parametres) }}
                            {{ form_widget(form.Parametres) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form_label(form.Historique_Versions) }}
                            {{ form_widget(form.Historique_Versions) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="history">
                <p> I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
            </div>
        </div>
    </div>
    <div class="card-footer justify-content-start flex-wrap">
        <button class="btn btn-success">{{ button_label|default('Enregister') }}</button>
        <a href="{{ path('Catalogue-des-rapports') }}" class="btn btn-primary ml-1">Retour</a>
    </div>
</div>
{{ form_end(form) }}
