{% extends 'admin/base.html.twig' %}

{% block title %}Catalogue des rapports BO{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('datatables/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header-primary">
                    <h4>Catalogue des rapports</h4>
                </div>
                <div class="card-body">
                    {% if is_granted('ROLE_SUPER_ADMIN')== true %}
                        <a href="{{ path('Nouveau-rapport') }}"><button class="btn btn-info">Ajouter</button></a>
                    {% endif %}
                    <a href="{{ path('spreadsheet') }}"><button class="btn btn-primary">Exporter</button></a>
                    <div class="table-responsive">
                        <table class="table" width="100%" id="reportDatatable">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Créateur</th>
                                <th>Domaine</th>
                                <th>Sous-domaine</th>
                                <th>Nom du rapport</th>
                                <th>Version actuelle</th>
                                <th>Catégorie</th>
                                <th>Statut</th>
                                <th class="text-right">actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for report in report_catalogs %}
                                <tr>
                                    <td>{{ report.N }}</td>
                                    <td>{{ report.createdBy.username }}</td>
                                    <td>{% if report.mainFolder %}
                                            {{ report.mainFolder.nomDossier }}
                                        {% endif %}</td>
                                    <td>{% if report.subFolder %}
                                            <span class="text-primary">{{ report.subFolder.nomDossier }}</span>
                                            {% else %}
                                            Aucun sous-domaine
                                        {% endif %}</td>
                                    <td>{{ report.nomRapport }}</td>
                                    <td>{{ report.versionActuelle }}</td>
                                    <td>{{ report.categorie }}</td>
                                    <td>{% if report.statut %}<span class="text-success">Actif</span>{% else %}<span class="text-danger">Decommissionné</span>{% endif %}</td>
                                    <td class="d-flex">
                                        <a href="{{ path('Détails-rapport', {'id': report.id}) }}">
                                            <button class="btn btn-primary">Voir</button>
                                        </a>
                                        {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                                            <a href="{{ path('Modifier-rapport', {'id': report.id}) }}">
                                                <button class="btn btn-warning">Modifier</button>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                    <div class="card-footer">
                        <a href="{{ path('Nouveau-rapport') }}"><button class="btn btn-info">Ajouter</button></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('back/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('datatables/responsive.bootstrap4.min.js') }}"></script>
  <script>
      // Call the dataTables jQuery plugin
$(document).ready(function() {
    $('#reportDatatable').DataTable({
        dom: 'Bfrtip',
        "language":{
            "url":"{{ asset('datatables/languages/french.json') }}"
        },
        buttons: [],
        responsive: true,
    });
  });
  
  </script>
  {% endblock %}