{% extends 'base.html.twig' %}

{% block title %}Indicateur index{% endblock %}

{% block body %}
    <h1>Indicateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for indicateur in indicateurs %}
            <tr>
                <td>{{ indicateur.id }}</td>
                <td>{{ indicateur.nom }}</td>
                <td>
                    <a href="{{ path('indicateur_show', {'id': indicateur.id}) }}">show</a>
                    <a href="{{ path('indicateur_edit', {'id': indicateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('indicateur_new') }}">Create new</a>
{% endblock %}
