{% extends 'base.html.twig' %}

{% block title %}Indicateur{% endblock %}

{% block body %}
    <h1>Indicateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ indicateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ indicateur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('indicateur_index') }}">back to list</a>

    <a href="{{ path('indicateur_edit', {'id': indicateur.id}) }}">edit</a>

    {{ include('indicateur/_delete_form.html.twig') }}
{% endblock %}
