
         <div class="row">
             <div class="col-12 col-sm-6 offset-sm-3 text-center">
                 {{ form_start(form) }}
                 <div class="form-group">
                     {{ form_label(form.nomDossier) }}
                     {{ form_widget(form.nomDossier) }}
                 </div>

                 <div class="subfolders" data-prototype="{{ form_widget(form.subFolders.vars.prototype)|e('html_attr') }}">
                     <h1 class="small">Sous-dossiers</h1>
                     {% for subfolder in form.subFolders %}
                         <div class="form-group">
                             {{ form_widget(subfolder.nomDossier) }}
                         </div>
                     {% endfor %}

                 </div>
                 <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                 <a href="{{ path('Dossiers') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
                 {{ form_end(form) }}
             </div>
         </div>


