{% extends 'admin/base.html.twig' %}

{% block title %}Dossier{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header-primary">
                    <h4>{{ dossier.nomDossier }}</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Nom du dossier</th>
                                <td>{{ dossier.nomDossier }}</td>
                            </tr>
                            <tr>
                                <th>Sous Dossiers</th>
                                <td>{% for sousDossier in dossier.subFolders %}{{ sousDossier.nomDossier }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer justify-content-start flex-wrap">
                    <a href="{{ path('Dossiers') }}" class="btn btn-primary mr-1"><i class="fa fa-arrow-left"></i></a>
                    <a href="{{ path('Modifier-dossier', {'id': dossier.id}) }}" class="btn btn-warning mr-1"><i class="fa fa-edit"></i></a>
                    {{ include('dossier/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
