{% extends 'admin/base.html.twig' %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-header-primary">
                            <h4>
                                Modification du mot de passe
                            </h4>
                        </div>
                        <div class="card-body">
                            {% if form_errors(form.plainPassword.first) %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.plainPassword.first) }}
                                </div>
                            {% endif %}
                            {% for err in app.flashes('err') %}
                                <div class="alert alert-danger">
                                    {{ err }}
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-user-circle fa-10x"></i>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="{{ path('Profil') }}"><h3 class="text-orange">Mon profil</h3></a>
                                        </div>
                                        <div class="col-12">
                                            {{ form_start(form) }}
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12">
                                                    <span class="small text-gray-500">
                                                        Mot de passe
                                                    </span>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="text-gray-700 form-group">
                                                            <div class="input-group show-hide-pw">
                                                                {{ form_widget(form.oldPassword, {'attr':{'placeholder':'Ancien mot de passe'}}) }}
                                                                <div class="input-group-append">
                                                                    <a onclick="pwToggle('edit_password_oldPassword')" class="input-group-text"><button type="button" class="btn btn-primary"><i class="fa fa-eye-slash" aria-hidden="true"></i></button></a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="text-gray-700 form-group">
                                                            <div class="input-group show-hide-pw">
                                                                {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'Nouveau mot de passe'}}) }}
                                                                <div class="input-group-append">
                                                                    <a onclick="pwToggle('edit_password_plainPassword_first')" class="input-group-text text-dark"><button type="button" class="btn btn-primary"><i class="fa fa-eye-slash" aria-hidden="true"></i></button></a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group show-hide-pw">
                                                                {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Retaper le mot de passe'}}) }}
                                                                <div class="input-group-append">
                                                                    <a onclick="pwToggle('edit_password_plainPassword_second')" class="input-group-text text-dark"><button type="button" class="btn btn-primary"><i class="fa fa-eye-slash" aria-hidden="true"></i></button></a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="form-group">
                                                            <h4 class="text-primary">Question secrète</h4>
                                                            {{ app.user.questionSecrete }} ?
                                                        </div>
                                                        <div class="form-group">
                                                            <h4 class="text-primary">Réponse secrète</h4>
                                                            {{ form_widget(form.reponsesecrete) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-center flex-wrap">
                            <button type="submit" class="btn btn-success">Modifier</button>
                            {{ form_end(form) }}
                            <a href="{{ path('Profil') }}"><button type="button" class="btn btn-primary">Retour</button></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <script>
        function pwToggle(inputPw){
            let x = document.getElementById(inputPw);

            if (x.type === "password") {
                let e = x.nextElementSibling.querySelector('.fa-eye-slash');
                e.classList.add('fa-eye');
                e.classList.remove('fa-eye-slash');
                x.type = "text";
            } else {
                x.type = "password";
                let e = x.nextElementSibling.querySelector('.fa-eye');
                e.classList.add('fa-eye-slash');
                e.classList.remove('fa-eye');

            }
        }
    </script>
{% endblock %}