{% extends 'admin/base.html.twig' %}

{% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="db-box bg-darker py-2">
                            <div class="db-box-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <i class="fa fa-user-circle fa-10x"></i>
                                    </div>
                                    <div class="col-12 text-center mt-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <a href="{{ path('Profil') }}"><h3 class="text-orange">Mon profil</h3></a>
                                            </div>
                                            <div class="col-12">
                                                {{ form_start(form) }}
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12">
                                                    <span class="small text-gray-500">
                                                        Rôles
                                                    </span>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="text-gray-700 form-group">
                                                            {{ form_widget(form.roles) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12">
                                                    <span class="small text-gray-500">
                                                        Adresse Email
                                                    </span>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="text-gray-700 form-group">
                                                            {{ form_widget(form.email) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                    <span class="small text-gray-500">
                                                        Nom d'utilisateur
                                                    </span>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="text-gray-700 form-group">
                                                            {{ form_widget(form.username) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6">
                                                        <button type="submit" class="btn gradient-btn w-100">Modifier</button>
                                                    </div>
                                                    <div class="col-12 col-sm-6 mt-1 mt-sm-0">
                                                        <a href="{{ path('Profil') }}"><button type="button" class="btn gradient-btn w-100">Retour</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block js %}

{% endblock %}