{% extends 'admin/base.html.twig' %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="db-box bg-darker py-2">
                        <div class="db-box-body">
                            {% if form_errors(form.plainPassword.first) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                            {% endif %}
                            {% for err in app.flashes('err') %}
                                <div class="alert alert-danger">
                                    {{ err }}
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-12 text-center">
                                    <i class="fa fa-user-circle fa-10x"></i>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="{{ path('Profil') }}"><h3 class="text-orange">Mon profil</h3></a>
                                        </div>
                                        <div class="col-12">
                                            {{ form_start(form) }}
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span class="small text-gray-500">
                                                        Mot de passe
                                                    </span>
                                                </div>
                                                <div class="col-12">
                                                    <div class="text-gray-700 form-group">
                                                        <div class="input-group show-hide-pw">
                                                            {{ form_widget(form.oldPassword, {'attr':{'placeholder':'Ancien mot de passe'}}) }}
                                                            <div class="input-group-append">
                                                                <a href="#" onclick="pwToggle('edit_password_oldPassword')" class="input-group-text text-dark"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="text-gray-700 form-group">
                                                        <div class="input-group show-hide-pw">
                                                            {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'Nouveau mot de passe'}}) }}
                                                            <div class="input-group-append">
                                                                <a href="#" onclick="pwToggle('edit_password_plainPassword_first')" class="input-group-text text-dark"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group show-hide-pw">
                                                            {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Retaper le mot de passe'}}) }}
                                                            <div class="input-group-append">
                                                                <a href="#" onclick="pwToggle('edit_password_plainPassword_second')" class="input-group-text text-dark"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <button type="submit" class="btn gradient-btn w-100">Modifier</button>
                                                </div>
                                                <div class="col-12 col-sm-6 mt-1 mt-sm-0">
                                                    <a href="{{ path('Profil') }}"><button type="button" class="btn gradient-btn w-100">Retour</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <script>
        function pwToggle(inputPw){
            let x = document.getElementById(inputPw);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}