{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('datatables/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <a class="text-warning" href="{{ path('Catalogue-des-rapports') }}">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_paste</i>
                    </div>
                    <p class="card-category text-uppercase text-dark">Accéder au catalogue</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <p class="card-category text-uppercase text-dark">Nombre de rapports</p>
                        <h4 class="card-title">{{ nbRapport }}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_paste</i>
                    </div>
                    <p class="card-category text-uppercase text-dark">Modifs. Rapports</p>
                    <h4 class="card-title">{{ nbUpdate }}</h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_paste</i>
                    </div>
                    <p class="card-category text-uppercase text-dark">Dernier rapport</p>
                    <h4 class="card-title">
                        {% if lastReport %}
                        <small><a class="text-warning"
                                  href="{{ path('Détails-rapport', {'id': lastReport.id}) }}">{{ lastReport.nomRapport }} - {{ lastReport.creationDate|date('d.m.Y') }}</a></small>
                        {% else %}
                            <p class="text-light">Aucun résultat</p>
                        {% endif %}
                    </h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 mb-4">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card card-stats bg-dark">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">

                            </div>
                            <h4 class="card-title text-light">
                                Nombre de rapports par dossier
                            </h4>
                        </div>
                        <div class="card-body ">
                            <canvas id="ReportsByFolders"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12">
                    <div class="card card-stats bg-dark">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">

                            </div>
                            <h4 class="card-title text-light">
                                Nombre de
                                rapports par utilisateur
                            </h4>
                        </div>
                        <div class="card-body ">
                            <canvas id="ReportsByUsers"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title text-light">
                                Rapports en RECETTE/PRODUCTION
                            </h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table" id="table-recette-production">
                                <thead>
                                <tr>
                                    <th>Numéro de rapport</th>
                                    <th>Nom du rapport</th>
                                    <th>Version en RECETTE</th>
                                    <th>Version en PRODUCTION</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recetteReport in recette %}
                                    {% for prodReport in production %}
                                        {% if prodReport.Nom_Rapport == recetteReport.Nom_Rapport %}
                                            <tr>
                                                <td>{{ recetteReport.n }}</td>
                                                <td>{{ recetteReport.Nom_Rapport }}</td>
                                                <td>
                                                    <span class="badge badge-pill badge-warning">Recette</span>
                                                    <a class="text-warning" href="{{ path('Détails-rapport', {'id': recetteReport.id}) }}" class="text-warning">{{ recetteReport.VersionActuelle }}</a>
                                                </td>
                                                <td>
                                                    <span class="badge badge-pill badge-success">Production</span>
                                                    <a href="{{ path('Détails-rapport', {'id': prodReport.id}) }}" class="text-success">{{ prodReport.VersionActuelle }}</a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="{{ asset('back/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('datatables/responsive.bootstrap4.min.js') }}"></script>
    <script>

        $('#table-recette-production').dataTable({
            iDisplayLength: 5,
            "language": {
                "url": "{{ asset('datatables/languages/french.json') }}"
            },
            responsive:true,
        });
    </script>
    <script>
        let ctx = document.getElementById('ReportsByFolders');
        function random_rgba() {
            let o = Math.round, r = Math.random, s = 255;
            return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + r().toFixed(1) + ')';
        }
        gradient = ctx.getContext('2d').createLinearGradient(0, 0, 0, 400);
        gradient.addColorStop(0, random_rgba());
        gradient.addColorStop(1, random_rgba());
        let myChart = new Chart(ctx, {

            type: 'horizontalBar',
            data: {
                labels: [
                    {% for report in reportsByFolder %}
                    '{{ report.nomDossier }}'{% if loop.last %}{% else %},{% endif %}
                    {% endfor %}
                ],

                datasets: [{
                    label: 'Nombre de rapports',
                    data: [
                        {% for report in reportsByFolder %}
                        '{{ report.nombreRapport|raw }}'{% if loop.last %}{% else %},{% endif %}
                        {% endfor %}
                    ],

                    backgroundColor: [
                        {% for report in reportsByFolder %}
                        gradient{% if loop.last %}{% else %},{% endif %}
                        {% endfor %}
                    ],
                    hoverBackgroundColor: gradient,
                    hoverBorderWidth: 2,
                    hoverBorderColor: gradient,
                }]
            },
            options: {
                responsive: true,
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        fontColor: 'white'
                    }
                }
                ,
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontColor: "white",
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontColor: "white",
                        }
                    }]
                }
            }
        });



        let doughnut = document.getElementById('ReportsByUsers');
        dgradient = doughnut.getContext('2d').createLinearGradient(0, 0, 0, 400);
        dgradient.addColorStop(0, random_rgba());
        dgradient.addColorStop(1, random_rgba());

        let DoughnutChart = new Chart(doughnut, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for report in reportByUser %}
                    '{{ report.username|raw }}'{% if loop.last %}{% else %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Nombre de rapports',
                    data: [
                        {% for report in reportByUser %}
                        '{{ report.nombreRapport|raw }}'{% if loop.last %}{% else %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for report in reportByUser %}
                        dgradient{% if loop.last %}{% else %},{% endif %}
                        {% endfor %}
                    ],
                    hoverBackgroundColor: dgradient,
                    hoverBorderWidth: 2,
                    hoverBorderColor: gradient
                }]
            },
            options: {
                responsive: true,
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        fontColor: 'white'
                    }
                }
                ,
                scales: {
                    yAxes: [{
                        display:false,
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontColor: "white",
                        }
                    }],
                    xAxes: [{
                        display:false,
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontColor: "white",
                        }
                    }]
                }

            }
        });
    </script>
{% endblock %}