{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
{% endblock %}
{% block body %}
<h1 class="h1">Dashboard <span class="text-xs">Vue d'ensemble</span></h1>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-orange shadow py-2">
                    <div class="card-body">
                            <div class="row justify-content-between align-items-center pr-1">
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle text-orange fa-stack-2x"></i>
                                        <i class="fa fa-calendar text-light fa-stack-1x"></i>
                                    </span>
                                <a href="{{ path('Catalogue-des-rapports') }}"> <div class="text-xs font-weight-bold text-orange text-uppercase mb-1"><p class="m-0">Accéder au catalogue</p></div></a>
                            </div>
                    </div>
                </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-orange shadow py-2">
            <div class="card-body">
                <div class="row justify-content-between align-items-center pr-1">
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle text-orange fa-stack-2x"></i>
                                        <i class="fa fa-file text-light fa-stack-1x"></i>
                                    </span>
                    <div class=" font-weight-bold text-orange text-uppercase mb-1">
                        <p class="text-xs m-0">Nombre de rapports</p>
                        <p class="text-gray-500 text-right m-0">{{ nbRapport }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-orange shadow py-2">
            <div class="card-body">
                <div class="row justify-content-between align-items-center pr-1">
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle text-orange fa-stack-2x"></i>
                                        <i class="fa fa-file-alt text-light fa-stack-1x"></i>
                                    </span>
                    <div class=" font-weight-bold text-orange text-uppercase mb-1">
                        <p class="text-xs m-0">
                            Modifications rapports
                        </p>
                        <p class="text-gray-500 text-right m-0">{{ nbUpdate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-orange shadow py-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-orange text-uppercase mb-1"><p>Dernier rapport</p></div>
                        <hr>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 d-flex justify-content-center align-items-center flex-column">
                            {% if lastReport %}
                                <a class="text-xs" href="{{ path('Détails-rapport', {'id': lastReport.id}) }}">{{ lastReport.nomRapport }}</a>
                                <span class="text-xs">{{ lastReport.lastUpdate|date('d-m-Y h:i:s') }}</span>
                            {% else %}
                                <p class="text-gray-500">Aucun résultat</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-10 mb-4">
        <div class="row">
            <div class="col-12">
                <div class="card border-left-orange shadow py-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col mr-2 text-center">
                                <div class="text-xs font-weight-bold text-orange text-uppercase mb-1"><p>Nombre de rapports par dossier</p></div>
                                <hr>
                                <div class="mb-0 text-gray-800">
                                    <canvas id="ReportsByFolders" ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card border-left-orange shadow py-2 mt-4">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col mr-2 text-center">
                                <div class="text-xs font-weight-bold text-orange text-uppercase mb-1"><p>Nombre de rapports par utilisateur</p></div>
                                <hr>
                                <div class="mb-0 text-gray-800">
                                    <canvas id="ReportsByUsers" ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card border-left-orange shadow py-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-orange text-uppercase mb-1"><p>Rapports en RECETTE/PRODUCTION</p></div>
                        <hr>
                        <div class="mb-0 text-gray-800">
                            <div class="table-responsive">
                                <table class="table" id="table-recette-production">
                                    <thead>
                                    <tr>
                                        <th>Nom du rapport</th>
                                        <th>Version en RECETTE</th>
                                        <th>Version en PRODUCTION</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for recetteReport in recette %}
                                        {% for prodReport in production %}

                                            {% if recetteReport.Nom_Rapport == prodReport.Nom_Rapport %}
                                                <tr>
                                                    <td>{{ prodReport.Nom_Rapport }}</td>
                                                    <td><a href="{{ path('Détails-rapport', {'id': recetteReport.id}) }}">{{ recetteReport.VersionActuelle }}</a></td>
                                                    <td><a href="{{ path('Détails-rapport', {'id': prodReport.id}) }}">{{ prodReport.VersionActuelle }}</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-left-orange shadow py-2 mt-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-orange text-uppercase mb-1"><p>Rapports en RECETTE</p></div>
                        <hr>
                        <div class="mb-0 text-gray-800">
                            <div class="table-responsive">
                                <table class="table" id="table-recette">
                                    <thead>
                                    <tr>
                                        <th>Nom du rapport</th>
                                        <th>Version</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for recetteReport in recette %}
                                        <tr>
                                            <td>{{ recetteReport.Nom_Rapport }}</td>
                                            <td><a href="{{ path('Détails-rapport', {'id': recetteReport.id}) }}">{{ recetteReport.VersionActuelle }}</a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        $('#table-recette-production').dataTable({
            iDisplayLength:5,
            "language":{
                "url":"//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
            }
        });
        $('#table-recette').dataTable({
            iDisplayLength:5,
            "language":{
                "url":"//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
            }
        });
    </script>
    <script>
        let ctx = document.getElementById('ReportsByFolders');
        function random_rgba() {
            let o = Math.round, r = Math.random, s = 255;
            return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
        }
        let color = random_rgba();
        let myChart = new Chart(ctx, {
                type: 'bar',
            data: {
                labels: [
                    {% for report in reportsByFolder %}
                    '{{ report.nomDossier|raw }}'{% if loop.last %}{% else %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Nombre de rapports',
                    data: [
                        {% for report in reportsByFolder %}
                        '{{ report.nombreRapport|raw }}'{% if loop.last %}{% else %},{% endif %}
                        {% endfor %}
                        ],
                    backgroundColor: [
                        {% for report in reportsByFolder %}
                        random_rgba(){% if loop.last %}{% else %},{% endif %}
                        {% endfor %}

                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        let doughnut = document.getElementById('ReportsByUsers');
        let DoughnutChart = new Chart(doughnut, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for report in reportByUser %}
                    '{{ report.username|raw }}'{% if loop.last %}{% else %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Nombre de rapports',
                    data: [
                        {% for report in reportByUser %}
                        '{{ report.nombreRapport|raw }}'{% if loop.last %}{% else %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for report in reportByUser %}
                        random_rgba(){% if loop.last %}{% else %},{% endif %}
                        {% endfor %}

                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}