{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="main-card">
        <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="card shadow py-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <i class="fa fa-user-circle fa-10x"></i>
                                    </div>
                                    <div class="col-12 text-center mt-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <h3 class="text-orange">Mon profil</h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12">
                                                    <span class="small text-gray-500">
                                                        Nom d'utilisateur
                                                    </span>
                                                    </div>
                                                    <div class="col-12">
                                                    <span class="text-gray-700">
                                                        {{ user.username }}
                                                    </span>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-12">
                                                    <span class="small text-gray-500">
                                                        Rôles
                                                    </span>
                                                    </div>
                                                    <div class="col-12">
                                                    <span class="text-gray-700 font-weight-bolder">
                                                        {% for role in user.roles %}
                                                            {{ role }} {% if loop.last %}{% else %}, {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                        <hr>
                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        <a href="{{ path('Modifier-Profil', {'id': user.id}) }}"><button class="gradient-btn">Modifier profil</button></a>
                                                        <a href="{{ path('Modifier-mot-de-passe', {'id': user.id}) }}"><button class="gradient-btn">Changer de mot de passe</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 mt-3 m-md-0">
                        <div class="card shadow py-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="text-orange">Rapports à mon nom</h5>
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table" id="data">
                                                <thead>
                                                <tr>
                                                    <th>Rapport</th>
                                                    <th>Dernière modification</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for reports in user.reports %}
                                                <tr>
                                                    <td><a href="{{ path('Détails-rapport', {'id': reports.id}) }}">{{ reports.nomRapport }}</a></td>
                                                    <td>{{ reports.lastUpdate|date('d-m-Y h:i:s', "Indian/Reunion") }}</td>
                                                    <td>
                                                        <a href="{{ path('Modifier-rapport', {'id': reports.id}) }}"><button class="btn btn-orange">
                                                                <i class="fa fa-edit"></i>
                                                            </button></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script>
        $('#data').dataTable({
            iDisplayLength:5,
            "language":{
                "url":"//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
            }
        });
    </script>
{% endblock %}