{% extends 'admin/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('datatables/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header-warning">
                <h4>
                    Profil
                </h4>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-warning">{{ app.user.username }}</h3>
                                <hr class="hr-text text-xs" data-content="PROFIL">
                            </div>
                            <div class="col-12 mt-3">
                                <h3 class="text-warning">Email</h3>
                                <p class="text-xs">{{ app.user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer justify-content-center flex-wrap">
                <a class="text-warning" href="{{ path('Modifier-Profil', {'id': app.user.id}) }}"><button class="btn btn-warning">Modifier mon profil</button></a>
                <a class="text-warning" href="{{ path('Modifier-mot-de-passe') }}"><button class="btn btn-warning">Changer de mot de passe</button></a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header-warning">
                <h4>Mes rapports</h4>
            </div>
            <div class="card-body">
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Rapport</th>
                        <th>Dernière modification</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for reports in app.user.createdBy %}
                        <tr>
                            <td>{{ reports.N }}</td>
                            <td><a class="text-warning" href="{{ path('Détails-rapport', {'id': reports.id}) }}">{{ reports.nomRapport }}</a></td>
                            <td>{{ reports.lastUpdate|date('d-m-Y h:i:s', "Indian/Reunion") }}</td>
                            <td>
                                <a class="text-warning" href="{{ path('Modifier-rapport', {'id': reports.id}) }}"><button class="btn btn-warning">
                                        <i class="material-icons">edit</i>
                                    </button></a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block js %}
    <script src="{{ asset('back/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('datatables/responsive.bootstrap4.min.js') }}"></script>
    <script>
        $('#dataTable').dataTable({
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        iDisplayLength:5,
         "language":
         {
             "url":"{{ asset('datatables/languages/french.json') }}"
         },
            buttons:[],
         responsive: true,
            dom: 'Bfrtip',
        });
    </script>
{% endblock %}