{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
</div>
<div class="form-group">
    {{ form_label(form.denomination) }}
    {{ form_widget(form.denomination) }}
</div>
<div class="form-group">
    {{ form_label(form.type) }}
    {{ form_widget(form.type) }}
</div>
<div class="form-group">
    {{ form_label(form.qualification) }}
    {{ form_widget(form.qualification) }}
</div>
