{% extends 'admin/base.html.twig' %}

{% block title %}
    Tableau de bord - Objets
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('datatables/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header-primary">
                    <h4>Objets</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%" id="refTable">
                            <thead>
                            <tr>
                                <th data-priority="1">Nom de l'objet</th>
                                <th>Utilisateur</th>
                                <th>Table</th>
                                <th>Champ</th>
                                <th>Dénomination</th>
                                <th class="text-center">Etat</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ref in refetentiels %}
                                <tr>
                                    <td>{% if ref.nomObjet %}{{ ref.nomObjet }}{% else %}Aucun objet lié{% endif %}</td>
                                    <td>{% if ref.schemaObj %}{{ ref.schemaObj }}{% else %}Aucun utilisateur{% endif %}</td>
                                    <td>{% if ref.tableobj %}{{ ref.tableobj }}{% else %}Aucune table{% endif %}</td>
                                    <td>{% if ref.champ %}{{ ref.champ }}{% else %}Aucun champ{% endif %}</td>
                                    <td>{% if ref.denomination %}{{ ref.denomination }}{% else %}<span class="text-danger">Aucun</span>{% endif %}</td>
                                    <td>
                                        <ul>
                                            {% if ref.qualification is null or ref.qualification is empty %}
                                                <li>Aucune qualification définie</li>
                                            {% endif %}
                                            {% if ref.type is null or ref.type is empty %}
                                                <li>Aucun type défini</li>
                                            {% endif %}
                                            {% if ref.description is null or ref.description is empty %}
                                                <li>Aucune description définie</li>
                                            {% endif %}
                                            {% if ref.denomination is null or ref.denomination is empty %}
                                                <li>Aucune dénomination définie</li>
                                            {% endif %}
                                            {% if ref.denomination and ref.description and ref.type and ref.qualification %}
                                                <p class="text-success text-center font-weight-bold">OK</p>
                                            {% endif %}
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-wrap">
                                            <div class="flex-wrap justify-content-center">
                                                <a href="{{ path('objets_details', {'id': ref.id}) }}" class="btn btn-primary btn-sm"><i class="material-icons">forward</i></a>
                                                {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                                                    <button class="btn btn-warning btn-sm editBtn" data-target="#exampleModalLong" data-object="{{ ref.id }}"><i class="material-icons">edit</i></button>
                                                    <button class="btn btn-danger btn-sm" id="deleteBtn" ><i class="material-icons">delete</i></button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('newobject') }}"><button class="btn btn-info">Ajouter</button></a>
                </div>
            </div>
        </div>
    </div>
    <form id="objForm" method="post" data-object="">
        <div class="modal fade" id="objectDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Informations de l'objet</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <div class="form-group">
                            <label for="description">Description</label>
                           <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" name="type" id="type" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="qualification">Qualification</label>
                            <p class="text-danger d-none danger-text">Vous ne pouvez plus changer la qualification de cet objet, car il est utilisé dans une matrice. Supprimez la ligne de la(les) matrice(s) afin de procéder à la modification.<p/>
                            <select name="qualification" id="qualification" class="form-control">
                                <option value="" disabled selected>Choisissez une qualification</option>
                                <option value="indicateur">Indicateur</option>
                                <option value="axe d'analyse">Axe d'analyse</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="denomination">Dénomination</label>
                            <input type="text" id="denomination" name="denomination" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script src="{{ asset('back/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('datatables/responsive.bootstrap4.min.js') }}"></script>
    <script>
        $('#refTable').dataTable({
            iDisplayLength: 5,
            "language": {
                "url": "{{ asset('datatables/languages/french.json') }}"
            },
            responsive:false,
            columnDefs: [
                { responsivePriority: 1, targets: 0 }
            ]
        });

        $('.editBtn').each(function () {
            $(this).click(function () {
                let refID = $(this).data('object');
                let url = "{{ path('getObjectsDetails', {'id':'refID'}) }}";
                url = url.replace('refID',refID);
                $('.loader-wrapper').fadeIn();
                $.post(url,
                function (data, err) {
                    $('.loader-wrapper').fadeOut();
                    $('#objectDialog').modal();
                    $('#objForm').attr('data-object', refID);
                    $('#denomination').val(data.denomination);
                    $('#type').val(data.type);
                    if(data.qualification === 'disabled')
                    {
                        $('#qualification').prop('disabled','disabled').val(data.defaultQual).css({'background-color':'grey'});
                        $('.danger-text').removeClass('d-none');
                    }else{
                        $('#qualification').removeAttr('disabled','disabled').val(data.qualification).css({'background-color':'transparent'});
                        $('.danger-text').addClass('d-none');
                    }
                    $('#description').val(data.description);
                })
            })
        });

        $('#objForm').submit(function (e) {
            e.preventDefault();
            let url = '{{ path('objets_details', {'id':'refID'}) }}';
            url = url.replace('refID', $('#objForm').data('object'));
            $(this).attr('action',url);
            $('#objForm')[0].submit();

        });
        $('#deleteBtn').click(function () {
            Swal.fire({
                title: 'Custom width, padding, background.',
                width: 600,
                padding: '3em',
                background: '#fff url(/images/trees.png)',
                backdrop: `
    rgba(0,0,123,0.4)
    url("/images/nyan-cat.gif")
    left top
    no-repeat
  `
            })
        })
    </script>
{% endblock %}