
{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('datatables/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block body %}


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header-warning">
                    <h4>Utilisateurs</h4>
                </div>
                <div class="card-body">
                    <a href="{{ path('Nouvel-utilisateur') }}"><button class="btn btn-info">Ajouter</button></a>
                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Rôles</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}

                            <tr class="test">
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for role in user.roles %}
                                        {{ role }}{% if loop.last %}{% else %},{% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="d-flex">
                                        {% if user.id == app.user.id %}
                                            <a href="{{ path('Profil', {'id': app.user.id}) }}" class="btn btn-warning mr-1">Voir mon profil</a>
                                        {% else %}
                                            <a href="{{ path('Détails-utilisateur', {'id': user.id}) }}" class="btn btn-warning mr-1">Voir</a>
                                            <a href="{{ path('Modifier-utilisateur', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="14" class="text-center">Aucun résultat</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{{ path('Nouvel-utilisateur') }}"><button class="btn btn-info">Ajouter</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('back/js/plugins/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('datatables/responsive.bootstrap4.min.js') }}"></script>
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable({
                dom: 'Bfrtip',
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                "language":{
                    "url":"{{ asset('datatables/languages/french.json') }}"
                },
                buttons:[],
                responsive: true,
            });
        });

    </script>
{% endblock %}