{% extends 'admin/base.html.twig' %}

{% block title %}{{user.username}}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
                <div class="db-box bg-darker h-100 py-2">
                    <div class="db-box-body">
                        <h1>{{ user.username }}</h1>
                        <table class="table text-light">
                            <tbody>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Rôles</th>
                                <td>{% for role in user.roles %}{{ role }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}</td>
                            </tr>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-flex">
                            <a href="{{ path('Utilisateurs') }}" class="mr-1 btn gradient-btn-primary"><i
                                        class="fa fa-arrow-left"></i></a>

                            <a href="{{ path('Modifier-utilisateur', {'id': user.id}) }}"
                               class="btn gradient-btn-warning mr-1"><i class="fa fa-edit"></i></a>
                            {{ include('user/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
        </div>
    </div>


{% endblock %}
